<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IpiMdd050EvalWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css">

</head>
<body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<div><nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Librairie Audio</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="nav-link">Liste des artistes</a></li>
            </ul>

            <form role="search" class="navbar-form navbar-right" action="http://localhost:5366/artists" method="GET">
                <div class="form-group">
                    <input name="name" type="text" placeholder="Rechercher par nom" class="ember-text-field form-control ember-view">
                </div>
                <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Liste des artistes</h1>
                <a href="http://localhost:5366/artists/new" class="btn btn-primary">Nouvel artiste</a>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div th:switch="${param.sortDirection.toString()}" th:if="${param.sortProperty.toString()} == 'name'">
                            <span th:case="DESC">
                                Nom
                                <a th:href="@{/artists(page=${param.pageNumber}, size=${param.size}, sortDirection=ASC, sortProperty=name)}"><i class="fa fa-chevron-down">\/</i></a>
                            </span>
                            <span th:case="ASC">
                                Nom
                                <a th:href="@{/artists(page=${param.pageNumber}, size=${param.size}, sortDirection=DESC, sortProperty=name)}"><i class="fa fa-chevron-up">/\</i></a>
                            </span>
                            </div>
                        </th>
<!--                        <th scope="col">Nom-->
<!--                            <span class="glyphicon glyphicon-chevron-up"></span>-->
<!--                        </th>-->
                        <th scope="col">

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="artist : ${artists}">
                        <th scope="row" th:text="${artist.name}">Nom Artist</th>
                        <td><a th:href="'/artists/' + ${artist.artistId}">Détail</a></td>
                    </tr>


                    </tbody>
                </table>

<!--                Ligne Pagination-->

                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Affichage des artistes <span th:text="${start}">1</span> à <span th:text="${end}">10</span> sur un total de <span th:text="${artists.totalElements}">275</span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="pagination">
                            <li class="page-item disabled" th:if="${pageNumber} == 1" >
                                <a  class="page-link" href="#">
                                    «
                                </a>
                            </li>
                            <li class="page-item" th:if="${pageNumber} != 1" >
                                <a  class="page-link" th:href="@{/artists(page=${previousPage}, size=${param.size}, sortDirection=${param.sortDirection}, sortProperty=${param.sortProperty})}">
                                    «
                                </a>
                            </li>
                            <li><a href="#">Page <span th:text="${pageNumber}">1</span></a></li>
                            <li class="page-item" th:if="${pageNumber} != ${artists.totalPages} ">
                                <a class="page-link" th:href="@{/artists(page=${nextPage}, size=${param.size}, sortDirection=${param.sortDirection}, sortProperty=${param.sortProperty})}">
                                    »
                                </a>
                            </li>
                        </ul></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body></html>