<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

    <div th:replace="fragments/header :: menu"></div>
    <h1>
        Hello <span th:text="${n}"></span>
    </h1>
    <p>[[${paragraphe}]]</p>
    <p>[(${msg})]</p>
    <p th:utext="${msg}"></p>


    <a th:href="@{/sayHello/{msg}}"><p th:text="${msg}"></p></a>


    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</body>
</html>